/*
This style sheet stylizes the controls inside our
JClassDesigner JavaFX Application. Note that conreolls
in the UI must have the same class as those bel;ow in 
order to be rendered using those properties.
*/
/* 
    
    Author:     Ronald Balchand
    Version:    1.0 
*/

.toolbar{
    -fx-background-color: lightblue;
    -fx-border-width: 5px;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-padding: 2;
    
}

.file_toolbar{
    
}

.toolbar_button{
    -fx-padding: 5;
    -fx-background-color:  red;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 4;
    -fx-border-color: black;
    
}

render_canvas{
    
}

component_editor{
    
}


