/*
This style sheet stylizes the controls inside our
JClassDesigner JavaFX Application. Note that conreolls
in the UI must have the same class as those bel;ow in 
order to be rendered using those properties.
*/
/* 
    
    Author:     Ronald Balchand
    Version:    1.0 
*/

.toolbar{
    -fx-background-color: lightblue;
    -fx-border-width: 5px;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-padding: 2;
    -fx-alignment: center;
}

.title{
    -fx-background-color:lightblue;  
    -fx-padding: 0;  
    }

.title_toolbar{
    -fx-background-color: lightblue;
    -fx-alignment:center;
}

.file_toolbar{
    
}

.toolbar_button{
    -fx-padding: 5;
    -fx-background-color:  red;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 4;
    -fx-border-color: black;
    
}

.toolbar_checkboxes{
    -fx-padding: 6;
    -fx-spacing: 3;
}

.render_canvas{
   -fx-background-color: #fff3c2;
   -fx-border-width: 5px;
   -fx-border-radius: 5;
   -fx-border-color: black;
}

.tag_label{
    -fx-padding: 10 10 10 10;
    -fx-background-color: white;
    -fx-background-radius: 5;
}

.component_editor{
    -fx-background-color: #ffdab9;
    -fx-border-width: 5px;
    -fx-border-radius: 5;
    -fx-border-color: black;
    -fx-padding: 20;
    -fx-spacing: 40;
}

.class_label{
    -fx-font-family: Impact;
    -fx-font-size: 40px;
}

.normal_label{
    -fx-font-family: Impact;
    -fx-font-size: 30px;
}

.text_field{
}

.label_field{

}


