/jClassDesigner/nbproject/private/
/SimpleAppFramework/SimpleAppFramework/build/
/SimpleAppFramework/SimpleAppFramework/dist/
/SimpleAppFramework/SimpleAppFramework/nbproject/private/
/PropertiesManager/PropertiesManager/build/
/PropertiesManager/PropertiesManager/dist/
/PropertiesManager/PropertiesManager/nbproject/private/
/XMLUtilities/XMLUtilities/build/
/XMLUtilities/XMLUtilities/dist/
/XMLUtilities/XMLUtilities/nbproject/private/
/jClassDesigner/build/
/jClassDesigner/dist/